<%= stylesheet_link_tag 'course' %>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
<%= javascript_include_tag 'registration' %>

<% if student_signed_in? then %>
  <div class="navbar navbar-inverse navbar-fixed-left ">
    <ul class="nav navbar-nav">
      <li><%= link_to "Registered Courses", enrollments_path, class: "nav-link"%></li>
      <li><%= link_to "Assignments", class: "nav-link"%></li>
    </ul>
  </div>
  <div id="register_course" class="container">
    <h1>Courses</h1>
    <table id='registrationsTable' class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>Course Name</th>
        <th>Date of Registration</th>
        <th>Assignments</th>
      </tr>
      </thead>
      <tbody>
      <% @enrollments.each do |enroll| %>
        <tr>
          <td><%=enroll.course.course_name %></td>
          <td><%=enroll.registration_datetime.to_date %></td>
          <td><%= link_to 'View assignments'%></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p id="notice">You need to log in to continue.</p>
  <%= link_to "Login", new_student_session_path %>
<%end%>