<%= stylesheet_link_tag 'course' %>
<div id="show_course" class="container">
  <br>
  <div id="registration">
    <%if @reg.blank? %>
      <%= link_to "Register",enrollments_path(:param => @course.id),:method => :post, data: {confirm: 'Are you sure you want to register in this course?'}%>
    <%else %>
      <h4 id = "cr_enroll">Enrolled</h4>
    <%end%>
  </div>
 <div>
  <h2 id ="cname">Course Name</h2>
  <h4 id = "cr_name"><%=@course.course_name%></h4>
 </div>

  <div>
    <h2 id ="level">Course Level</h2>
    <h3 id = "cr_level"><%=@course.level.course_level%></h3>
  </div>

  <div>
    <h2 id ="faculty">Course Faculty</h2>
    <% if !@course.faculty.nil?%>
     <h3 id = "cr_faculty"><%=@course.faculty.first_name + " " + @course.faculty.last_name%></h3>
    <%else%>
     <h3>None</h3>
    <%end%>
  </div>

  <div>
    <h2 id ="prerequisite">Course Prerequisite</h2>
    <%if @preq.blank? %>
      <h3 id = "cr_prereq">None</h3>
    <%else %>
      <h3 id = "cr_prereq"><%=Course.where(:id => @preq).pluck(:course_name)[0]%></h3>
    <%end %>
  </div>

  <div>
    <h2 id ="fee">Course Fee</h2>
    <h3 id = "cr_fee"><%=@course.applicable_fee%></h3>
  </div>

  <div>
    <h2 id ="time">Time</h2>
    <h3 id = "cr_time"><%=@course.time %></h3>
  </div>

  <div>
    <h2 id ="desc">Description</h2>
    <h3 id = "cr_desc"><%=@course.description%></h3>
  </div>

  <div>
    <h2 id ="syllab">Syllabus</h2>
    <h3 id = "cr_syllab"><%=link_to "#{@course.attachment_identifier}", @course.attachment_url,:target => '_blank'%></h3>
  </div>

</div>
